.outer-box {
    background-color: #A22A57; /* Dark maroon */
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inner-box {
    background-color: #752041; /* Lighter shade of dark maroon */
    padding: 50px;
    margin: 10%;
    border: 80px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    width: 600px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #ffffff; /* Dark maroon */
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: white;
    color: #8B0000; /* Dark maroon */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  