#b1{
    border: 5px solid #73AD21;
    border-radius: 10px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#b2{
    border: 5px solid #73AD21;
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#b3{
    border: 5px solid #73AD21;
    border-radius: 50%;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#b4{
    border: 5px solid #73AD21;
    border-radius: 15px;
    padding: 20px; 
    width: 200px;
    margin: auto;
    height: 150px;
}
#b5{
    border: 5px solid #73AD21;
    border-radius: 30px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#b6{
    border: 5px solid #73AD21;
    border-radius: 50px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#b7{
    border: 5px solid #73AD21;
    border-radius: 15px 50px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#b8{
    border: 5px solid #73AD21;
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    margin: auto;
    height: 150px;
}
.center {
    position: absolute;
    left: 27%;
    top: 48%;
    transform: translate(-50%, -50%);
}
.right{
    position: absolute;
    left: 45%;
    top: 47%;
    transform: translate(-50%, -50%);
}